<h1 align ="center"> All Alpha Blogers </h1>
<div align = "center">
  <div class="card card-body p-4 mb-2 bg-light text-white col-sm-4 pagination22" >

    <%= will_paginate %>
  </div>

  <% @users.each do |user| %>
      <ul class="listing center">
        <div class="row">
          <div class="card card-body bg-light center col-md-8 userdiv" >
            <li> <%= link_to  gravatar_for(user), user_path(user) %> </li>
            <li class="article-title">
              <%= link_to user.username, user_path(user) %>
            </li>
            <li> <small> <%= pluralize(user.articles.count, "article") if user.articles %> </small> </li>
            <% if logged_in? and current_user.admin? %>
            <li> <%= link_to "Delete this User" , user_path(user), method: :delete,
            data: {confirm: "Are you sure to delete this user & all this articles?"} %> </li>

            <% end %>
          </div>
        </div>
      </ul>

  <% end %>
</div>
