<h1 align = "center"> Welcome to <%= @user.username %>'s page </h1>
<div  class="row">
  <div class="col-md-4 col-md-offset-4 dp">
    <%=  gravatar_for @user, size: 150 %>
  </div>
</div>

<h4 align = "center" > <%= @user.username %>'s articles </h4>
<div class="center card card-body p-4 mb-2 bg-light text-white col-sm-4 pagination22">

  <%= will_paginate @user_articles %>
</div>

<%= render 'articles/article', obj: @user_articles %>

<div class="center card card-body p-4 mb-2 bg-light text-white col-sm-4 pagination22">

  <%= will_paginate @user_articles %>
</div>
